@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Cactus Classical Serif", serif;
}

header {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: bold;  

}

.left-header{
    display: flex;
    justify-content: space-around;
}

img{
    height: 90px;
    width: 40px;
}

.texto-logo{
    text-align: left;
    padding: 15px;
    font-weight: bold;
}

nav{
    width: 800px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    
}

.nav-button{
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.nav-button:hover{
    background-color: black;
    color: #ffffff;
}

i{
    display: flex;
    align-items: center;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding: 80px 20px;
}

.me{
    width: 450px;
    height: 500px;
    position: relative;
    bottom: 30px;
    right: 30px; 
}

span{
    font-weight: bold;
}

button{
    border: none;
    border-radius: 5px;
    background-color: #fd8e77;
    color: black;
    padding: 10px;
    transition: background-color 0.5s, color 0.5s;
}

button:hover{
    background-color: black;
    color: #fd8e77;
    cursor: pointer;
}

.hero h1{
    font-size: 50px;
}

.hero p{
    margin: 20px 0;
}

.about{
    display: flex;
    justify-content: space-around;
    
}
.divisor{
    border: solid 1px black;
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.datos{
    text-align: end;
}

.num-datos{
    color: #fd7f65;
    font-size: 45px;
}

.desc-text{
    color: #656667;
    font-size: 20px;
}

.webdev{
    margin: 60px;
    text-align: center;
    font-size: 60px;
}

.img-webdev{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}

.portfolio-img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.portfolio-text{
    font-size: 50px;
}

.destacados p{
    width: 80%;
}

.div-img-portfolio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.see-all{
    font-weight: bold;
    text-decoration: underline;
}

.servicios{
    background-color: #f7f7f7;
}

.services-tittle{
    font-size: 50px;
}

.div-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-element{
    margin: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 200px;
}

.service-names{
    padding: 10px;
    text-align: center;
}

.service-description{
    padding: 15px;
}

.div-edu{
    display: flex;
    align-items: center;
}

.educacion{
    margin: 25px;
}

.edu-tittle{
    font-size: 50px;
}

.img-calendario{
    width: 15px;
}

.info-edu{
    padding: 35px 0 0 15px;
}

.skills-tittle{
    font-size: 50px;
}

.div-container-skills{
    margin: 25px;
    border-bottom: 3px solid #828383;
}

.progress-figma{
    border: 3px solid #f99f89;
    width: 70%;
    position: relative;
    top: 3px;
}

.progress-html{
    border: 3px solid #f99f89;
    width: 85%;
    position: relative;
    top: 3px;

}

.progress-css{
    border: 3px solid #f99f89;
    width: 80%;
    position: relative;
    top: 3px;

}

.progress-js{
    border: 3px solid #f99f89;
    width: 70%;
    position: relative;
    top: 3px;
}

.progress-db{
    border: 3px solid #f99f89;
    width: 90%;
    position: relative;
    top: 3px;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.publicidad-final{
    background-color: #fd8e77;
    border-radius: 5px;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.logo-final{
    width: 150px;
}

