@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


header {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

.left-header{
    display: flex;
    justify-content: space-around;
}

img{
    height: 90px;
    width: 40px;
}

.texto-logo{
    text-align: left;
    padding: 15px;
    font-weight: bold;
}

nav{
    width: 800px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}
i{
    display: flex;
    align-items: center;
}