@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Cactus Classical Serif", serif;
}

/* desde aca las propiedades de los elementos del header */
header {
    background-color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: bold;  
}

nav{
    width: 800px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: 2;
}

.menu{
    color: black;
    width: 15px;
}

.logo-pagina{
    width: 150px;
}

a{
    text-decoration: none;
    color: black;
}

.nav-button{
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
}

.nav-button:hover{
    background-color: black;
    color: #ffffff;
}
/*hasta aca las propiedades de los elementos del header */


/* desde aca las propiedades de los elementos del section Hero */
.hero{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.me{
    width: 450px;
    height: 500px;
}

span{
    font-weight: bold;
}

button{
    border: none;
    border-radius: 5px;
    background-color: #fd8e77;
    color: black;
    padding: 10px;
    transition: background-color 0.5s, color 0.5s;
}

button:hover{
    background-color: black;
    color: #fd8e77;
    cursor: pointer;
}

.hero-tittle{
    font-size: 70px;
    margin: 20px 0;
}

.section-tittle{
    font-size: 70px;
    margin: 20px 0;
}

.hero p{
    margin: 20px 0;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* hasta aca las propiedades de los elementos del section Hero */


/* desde aca las propiedades de los elementos del section about */
.about{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin: 0;
}

.about h1{
    font-size: 50px;
    margin: 30px 0;
}

.about-content{
    display: flex; 
    justify-content: space-between;
}

.descripcion{
    display: flex;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-left: solid 1px black;
    text-wrap: 1;
}

.datos{
    text-align: end;
    padding: 0 50px;
    width: 30%;
}

.num-datos{
    color: #fd7f65;
    font-size: 45px;
    margin: 15px;
}

.desc-text{
    color: #656667;
    font-size: 20px;
}
/* hasta aca las propiedades de los elementos del section about */

/* desde aca las propiedades de los elementos del section webdev */
.webdev{
    margin: 60px;
    text-align: center;
    font-size: 60px;
}

.img-webdev{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}
/* hasta aca las propiedades de los elementos del section webdev */

/* desde aca las propiedades de los elementos del section destacados qeu se refiere al portfolio */
.destacados{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin: 80px 0px;
}

.destacados-content{
    display: flex;
    flex-direction: column;
}

.destacados p{
    width: 80%;
}

.div-img-portfolio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.portfolio-img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.see-all{
    font-weight: bold;
    text-decoration: underline;
}
/* hasta aca las propiedades de los elementos del section destacados */



/* desde aca las propiedades de los elementos del section de servicios */
.servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 80px 0;
    background-color: #f7f7f7;
}

.services-tittle{
    font-size: 50px;
}

.div-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-element{
    margin: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 200px;
}

.service-names{
    padding: 10px;
    text-align: center;
}

.service-description{
    padding: 15px;
}

.servicios img{
    width: 50px;
    margin: 10px;
}
/* hasta acá las propiedades de los elementos del section de servicios */


/* desde aca las propiedades de los elementos del section educacion */
.educacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 80px 0;
}

.div-edu{
    display: flex;
    align-items: center;
}

.img-calendario{
    width: 15px;
}

.info-edu{
    padding: 35px 0 0 15px;
}
/* hasta aca las propiedades de los elementos del section educacion */

/* desde aca las propiedades de los elementos del section skills */
.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 80px 0;
}

.all-skills{
    width: 70%;
}

.div-container-skills{
    margin: 25px;
    border-bottom: 3px solid #828383;
}

.progress-figma{
    border: 3px solid #f99f89;
    width: 70%;
    position: relative;
    top: 3px;
}

.progress-html{
    border: 3px solid #f99f89;
    width: 85%;
    position: relative;
    top: 3px;

}

.progress-css{
    border: 3px solid #f99f89;
    width: 80%;
    position: relative;
    top: 3px;

}

.progress-js{
    border: 3px solid #f99f89;
    width: 70%;
    position: relative;
    top: 3px;
}

.progress-db{
    border: 3px solid #f99f89;
    width: 90%;
    position: relative;
    top: 3px;
}
/* hasta aca las propiedades de los elementos del section skills */

/* desde aca las propiedades de los elementos del section contacto */
.contacto{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    margin: 80px 0;
}

.publicidad-final{
    background-color: #fd8e77;
    border-radius: 5px;
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.logoFinal{
    width: 150px;
}

.datos-contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    width: 40%;
    padding: 20px;
}

.form-datos {
    display: flex;
    flex-direction: column;
}

.form-datos input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #f99f89;
}

.mensaje{
    height: 100px;
}

.sumbit-button{
    cursor: pointer;
    margin: 10px 0;
    width: 100px;
    padding: 2px;
    background-color: #f99f89;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}

.sumbit-button:hover{
    background-color: #ffffff;
    border: 2px solid #f99f89;
    color: #f99f89;
}

.contact-image{
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.contact-image img{
    margin: 5px;
    width: 60%;
    height: 400px;
    border-radius: 5px;
}
/* hasta aca las propiedades de los elementos del section contacto */

/* desde aca las propiedades de los elementos del footer */
footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes-icon {
    width: 15px;
    height: 15px;
}
/*hasta aca las propiedades de los elementos del footer */